
.image-grid{
    box-sizing: border-box;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 25px;

}
h1{
    font-size: 50px;
    margin-left: 16px;
}
.image-grid >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-1{
    grid-column: span 2;    
}
.image-2{
    grid-row: span 2;
}
.image-new1{
    grid-column: span 2;
}
.image-new2{
    grid-column: span 2;
    
}